<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

      margin: 0 auto;
      max-width: 36em;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      hyphens: auto;
      overflow-wrap: break-word;
      text-rendering: optimizeLegibility;
      font-kerning: normal;
    }
    @media (max-width: 600px) {
        background-color: transparent;
        color: black;
        font-size: 12pt;
      }
      p, h2, h3 {
        orphans: 3;
        widows: 3;
      }
      h2, h3, h4 {
        page-break-after: avoid;
      }
    }
    p {
      margin: 1em 0;
    }
    a {
      color: #1a1a1a;
    }
    a:visited {
      color: #1a1a1a;
    }
    img {
      max-width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.4em;
    }
    h5, h6 {
      font-size: 1em;
      font-style: italic;
    }
    h6 {
      font-weight: normal;
    }
    ol, ul {
      padding-left: 1.7em;
      margin-top: 1em;
    }
    li > ol, li > ul {
      margin-top: 0;
    }
    blockquote {
      margin: 1em 0 1em 1.7em;
      padding-left: 1em;
      border-left: 2px solid #e6e6e6;
      color: #606060;
    }
    code {
      font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
      font-size: 85%;
      margin: 0;
    }
    pre {
      margin: 1em 0;
      overflow: auto;
    }
    pre code {
      padding: 0;
      overflow: visible;
      overflow-wrap: normal;
    }
    .sourceCode {
     background-color: transparent;
     overflow: visible;
    }
    hr {
      background-color: #1a1a1a;
      border: none;
      height: 1px;
      margin: 1em 0;
    }
    table {
      margin: 1em 0;
      border-collapse: collapse;
      width: 100%;
      overflow-x: auto;
      display: block;
      font-variant-numeric: lining-nums tabular-nums;
    }
    table caption {
      margin-bottom: 0.75em;
    }
    div.csl-entry {
      clear: both;
    }
    .hanging div.csl-entry {
      margin-left:2em;
      text-indent:-2em;
    }
    div.csl-left-margin {
      min-width:2em;
      float:left;
    }
    div.csl-right-inline {
      margin-left:2em;
      padding-left:1em;
    }
    div.csl-indent {
      margin-left: 2em;
    }
  </style>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>
<div id="ref-adjei2021new" class="csl-entry" role="doc-biblioentry">
Adjei, Tricia, Ryan Purdy, João Jorge, Eleri Adams, Miranda Buckle, Ria Evans Fry, Gabrielle Green, et al. 2021. <span>“New Method to Measure Interbreath Intervals in Infants for the Assessment of Apnoea and Respiration.”</span> <em>BMJ Open Respiratory Research</em> 8 (1): e001042.
</div>
<div id="ref-behar2013software" class="csl-entry" role="doc-biblioentry">
Behar, J, A Guazzi, J Jorge, S Laranjeira, MA Maraci, T Papastylianou, P Thomson, GD Clifford, and RA Hope. 2013. <span>“Software Architecture to Monitor Handpump Performance in Rural Kenya.”</span> In <em>Proceedings of the 12th International Conference on Social Implications of Computers in Developing Countries, Ochos Rios, Jamaica. Pp. 978</em>. Vol. 991.
</div>
<div id="ref-chaichulee2017multi" class="csl-entry" role="doc-biblioentry">
Chaichulee, Sitthichok, Mauricio Villarroel, Joao Jorge, Carlos Arteta, Gabrielle Green, Kenny McCormick, Andrew Zisserman, and Lionel Tarassenko. 2017. <span>“Multi-Task Convolutional Neural Network for Patient Detection and Skin Segmentation in Continuous Non-Contact Vital Sign Monitoring.”</span> In <em>2017 12th IEEE International Conference on Automatic Face &amp; Gesture Recognition (FG 2017)</em>, 266–72. IEEE.
</div>
<div id="ref-chaichulee2018localised" class="csl-entry" role="doc-biblioentry">
Chaichulee, Sitthichok, Mauricio Villarroel, João Jorge, Carlos Arteta, Gabrielle Green, Kenny McCormick, Andrew Zisserman, and Lionel Tarassenko. 2018. <span>“Localised Photoplethysmography Imaging for Heart Rate Estimation of Pre-Term Infants in the Clinic.”</span> In <em>Optical Diagnostics and Sensing XVIII: Toward Point-of-Care Diagnostics</em>, 10501:105010R. International Society for Optics; Photonics.
</div>
<div id="ref-chaichulee2019cardio" class="csl-entry" role="doc-biblioentry">
Chaichulee, Sitthichok, Mauricio Villarroel, João Jorge, Carlos Arteta, Kenny McCormick, Andrew Zisserman, and Lionel Tarassenko. 2019. <span>“Cardio-Respiratory Signal Extraction from Video Camera Data for Continuous Non-Contact Vital Sign Monitoring Using Deep Learning.”</span> <em>Physiological Measurement</em> 40 (11): 115001.
</div>
<div id="ref-davidson2020vital" class="csl-entry" role="doc-biblioentry">
Davidson, Shaun, Mauricio Villarroe, Eoin Finnegan, Mirae Harford, Joao Jorge, and Lionel Tarassenko. 2020. <span>“Vital-Sign Synchrony as a Marker for Patient Circadian Rhythms in an Intensive Care Unit.”</span> In <em>2020 Computing in Cardiology</em>, 1–4. IEEE.
</div>
<div id="ref-davidson2021day" class="csl-entry" role="doc-biblioentry">
Davidson, Shaun, Mauricio Villarroel, Mirae Harford, Eoin Finnegan, João Jorge, Duncan Young, Peter Watkinson, and Lionel Tarassenko. 2021. <span>“Day-to-Day Progression of Vital-Sign Circadian Rhythms in the Intensive Care Unit.”</span> <em>Critical Care</em> 25 (1): 1–13.
</div>
<div id="ref-finnegan2021presence" class="csl-entry" role="doc-biblioentry">
Finnegan, Eoin, Shaun Davidson, Mirae Harford, Joao Jorge, and Mauricio Villarroel. 2021. <span>“The Presence of a Circadian Rhythm in Pulse Arrival Time and Its Application for Classifying Blood Pressure Night-Time Dip.”</span> In <em>2021 43rd Annual International Conference of the IEEE Engineering in Medicine &amp; Biology Society (EMBC)</em>, 488–91. IEEE.
</div>
<div id="ref-finnegan2021pulse" class="csl-entry" role="doc-biblioentry">
Finnegan, Eoin, Shaun Davidson, Mirae Harford, João Jorge, Peter Watkinson, Duncan Young, Lionel Tarassenko, and Mauricio Villarroel. 2021. <span>“Pulse Arrival Time as a Surrogate of Blood Pressure.”</span> <em>Scientific Reports</em> 11 (1): 1–21.
</div>
<div id="ref-finnegan2020comparing" class="csl-entry" role="doc-biblioentry">
Finnegan, Eoin, Mauricio Villarroel, Shaun Davidson, Mirae Harford, Joao Jorge, and Lionel Tarassenko. 2020. <span>“Comparing Circadian Rhythms in Blood Pressure Computed from the Arterial Line and Sphygmomanometer in the ICU.”</span> In <em>2020 Computing in Cardiology</em>, 1–4. IEEE.
</div>
<div id="ref-harford2020study" class="csl-entry" role="doc-biblioentry">
Harford, Mirae, Carlos Areia, Mauricio Villarroel, Joao Jorge, Eoin Finnegan, Shaun Davidson, Adam Mahdi, Duncan Young, Lionel Tarassenko, and Peter J Watkinson. 2020. <span>“Study Protocol for an Exploratory Interventional Study Investigating the Feasibility of Video-Based Non-Contact Physiological Monitoring in Healthy Volunteers by Mapping of Lower Limb skIn pErfusion (MOLLIE).”</span> <em>BMJ Open</em> 10 (6): e036235.
</div>
<div id="ref-harford2019non" class="csl-entry" role="doc-biblioentry">
Harford, Mirae, Samuel H Clark, Jodie F Smythe, Stephen Gerry, Mauricio Villarroel, Joao Jorge, Sitthichok Chaichulee, Lionel Tarassenko, Duncan Young, and Peter Watkinson. 2019. <span>“Non-Invasive Stroke Volume Estimation by Transthoracic Electrical Bioimpedance Versus Doppler Echocardiography in Healthy Volunteers.”</span> <em>Journal of Medical Engineering &amp; Technology</em> 43 (1): 33–37.
</div>
<div id="ref-jorge2018non" class="csl-entry" role="doc-biblioentry">
Jorge, Joao. 2018. <span>“Non-Contact Monitoring of Respiration in the Neonatal Intensive Care Unit.”</span> PhD thesis, University of Oxford.
</div>
<div id="ref-jorge2018tracking" class="csl-entry" role="doc-biblioentry">
Jorge, João, Frédéric Gretsch, Daniel Gallichan, and José P Marques. 2018. <span>“Tracking Discrete Off-Resonance Markers with Three Spokes (trackDOTS) for Compensation of Head Motion and B0 Perturbations: Accuracy and Performance in Anatomical Imaging.”</span> <em>Magnetic Resonance in Medicine</em> 79 (1): 160–71.
</div>
<div id="ref-jorge2020non" class="csl-entry" role="doc-biblioentry">
Jorge, João, Mirae Harford, Mauricio Villarroel, Sitthichok Chaichulee, Shaun Davidson, Eoin Finnegan, Samuel H Clark, J Duncan Young, Peter J Watkinson, and Lionel Tarassenko. 2020. <span>“Non-Contact Assessment of Peripheral Artery Haemodynamics Using Infrared Video Thermography.”</span> <em>IEEE Transactions on Biomedical Engineering</em> 68 (1): 276–88.
</div>
<div id="ref-jorge2019assessment" class="csl-entry" role="doc-biblioentry">
Jorge, Joao, Mauricio Villarroel, Sitthichok Chaichulee, Gabrielle Green, Kenny McCormick, and Lionel Tarassenko. 2019. <span>“Assessment of Signal Processing Methods for Measuring the Respiratory Rate in the Neonatal Intensive Care Unit.”</span> <em>IEEE Journal of Biomedical and Health Informatics</em> 23 (6): 2335–46.
</div>
<div id="ref-jorge2017non" class="csl-entry" role="doc-biblioentry">
Jorge, Joao, Mauricio Villarroel, Sitthichok Chaichulee, Alessandro Guazzi, Sara Davis, Gabrielle Green, Kenny McCormick, and Lionel Tarassenko. 2017. <span>“Non-Contact Monitoring of Respiration in the Neonatal Intensive Care Unit.”</span> In <em>2017 12th IEEE International Conference on Automatic Face &amp; Gesture Recognition (FG 2017)</em>, 286–93. IEEE.
</div>
<div id="ref-jorge2018data" class="csl-entry" role="doc-biblioentry">
Jorge, João, Mauricio Villarroel, Sitthichok Chaichulee, Kenny McCormick, and Lionel Tarassenko. 2018. <span>“Data Fusion for Improved Camera-Based Detection of Respiration in Neonates.”</span> In <em>Optical Diagnostics and Sensing XVIII: Toward Point-of-Care Diagnostics</em>, 10501:1050112. International Society for Optics; Photonics.
</div>
<div id="ref-jorge2021non" class="csl-entry" role="doc-biblioentry">
Jorge, J, M Villarroel, H Tomlinson, O Gibson, J Darbyshire, J Ede, M Harford, JD Young, L Tarassenko, and P Watkinson. 2021. <span>“Non-Contact Physiological Monitoring of Post-Operative Patients in the Intensive Care Unit.”</span> <em>Npj Digital Medicine</em>.
</div>
<div id="ref-papastylianou2014smart" class="csl-entry" role="doc-biblioentry">
Papastylianou, T, J Behar, A Guazzi, J Jorge, S Laranjeira, MA Maraci, GD Clifford, RA Hope, and P Thomson. 2014. <span>“Smart Handpumps: Technical Aspects of a One-Year Field Trial in Rural Kenya.”</span>
</div>
<div id="ref-tarassenko2014non" class="csl-entry" role="doc-biblioentry">
Tarassenko, Lionel, Mauricio Villarroel, Alessandro Guazzi, João Jorge, DA Clifton, and Chris Pugh. 2014. <span>“Non-Contact Video-Based Vital Sign Monitoring Using Ambient Light and Auto-Regressive Models.”</span> <em>Physiological Measurement</em> 35 (5): 807.
</div>
<div id="ref-theodorakis2017sensing" class="csl-entry" role="doc-biblioentry">
Theodorakis, MJ, D Clifton, GW Colopy, J Jorge, A Dhere, C Ballav, I Kennedy, O Agbaje, L Tarassenko, and RR Holman. 2017. <span>“Sensing Hypoglycaemia at an Earlier Stage Using an Integrated Physiological Multi-Signal Data Fusion Approach.”</span> <em>Diabetic Medicine</em> 34 (1): 62–63.
</div>
<div id="ref-villarroel2019non" class="csl-entry" role="doc-biblioentry">
Villarroel, Mauricio, Sitthichok Chaichulee, João Jorge, Sara Davis, Gabrielle Green, Carlos Arteta, Andrew Zisserman, Kenny McCormick, Peter Watkinson, and Lionel Tarassenko. 2019. <span>“Non-Contact Physiological Monitoring of Preterm Infants in the Neonatal Intensive Care Unit.”</span> <em>NPJ Digital Medicine</em> 2 (1): 1–18.
</div>
<div id="ref-villarroel2014continuous" class="csl-entry" role="doc-biblioentry">
Villarroel, Mauricio, Alessandro Guazzi, João Jorge, Sara Davis, Peter Watkinson, Gabrielle Green, Asha Shenvi, Kenny McCormick, and Lionel Tarassenko. 2014. <span>“Continuous Non-Contact Vital Sign Monitoring in Neonatal Intensive Care Unit.”</span> <em>Healthcare Technology Letters</em> 1 (3): 87–91.
</div>
<div id="ref-villarroel2020non" class="csl-entry" role="doc-biblioentry">
Villarroel, Mauricio, João Jorge, David Meredith, Sheera Sutherland, Chris Pugh, and Lionel Tarassenko. 2020. <span>“Non-Contact Vital-Sign Monitoring of Patients Undergoing Haemodialysis Treatment.”</span> <em>Scientific Reports</em> 10 (1): 1–21.
</div>
<div id="ref-villarroel2017non" class="csl-entry" role="doc-biblioentry">
Villarroel, Mauricio, João Jorge, Chris Pugh, and Lionel Tarassenko. 2017. <span>“Non-Contact Vital Sign Monitoring in the Clinic.”</span> In <em>2017 12th IEEE International Conference on Automatic Face &amp; Gesture Recognition (FG 2017)</em>, 278–85. IEEE.
</div>
</div>
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>